%fz-imageReplace {
  display: block;
  text-indent: 9999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

@mixin fz-imageReplace($img, $width, $height) {
  @extend %fz-imageReplace;
  height: $height;
  width: $width;
  background-image: url($img);
}